{% extends "style.html" %}
{% block head %}{% endblock %}

{%block body %}
<div class="questionnaire">
  <h2>Astronomy Picture of the Day</h2>
  <p>Source: National Aeronautics and Space Administration</p>
  <p></p>
  <link href={https://api.nasa.gov/planetary/apod?api_key=qhmH0gzI2wgmXWS8TQqcdVNebG9DiTetM83JJm8h}>
  
  <form action="/" method="get">
      <a href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
        <button>RETURN</button>
    </a>    
  </form>
</div>   
{% endblock %}