{% extends "style.html" %}
{% block head %}{% endblock %}

{%block body %}
<div class="APOD">
 <h1><b> <i><font color= "white">NASA Astronomy Picture Of The Day </i></b></h1>
  <p><font color= "white">Source: National Aeronautics and Space Administration</p> 
<h2 id="title"></h2>
<h3><font color= "white">Date:26.02.2022 <span id="date"></span></h3>
<a href="https://apod.nasa.gov/apod/astropix.html?">
  <img src= "https://apod.nasa.gov/apod/image/2206/V838Mon_Hubble_2238.jpg" alt="NASA Picture Of The Day" width="70%" height="20%"></a>

  <form action="/" method="get">
     <button id="fireButton" style="background-color:black; border-color:#00000; color:#fff; width:100px; height:50px;">RETURN</button>
        
    </a>    
  </form>
</div>   
{% endblock %}
