{% extends "style.html" %}
{% block head %}{% endblock %}

{% block body %}
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
<div class="title">
  <h1><b><font color="white">GALACTIC ORIGINS</b></h1>
</div>
  <<div class="questionnaire h2">
  <h2><i> Contact Us</i></h2>
    <h3 style="color: white;">vedikaagrawal28012005@gmail.com</h3>
    <h3 style="color: white;">phyu.h.lwin@gmail.com</h3>
    <h3 style="color: white;">ruhmahashmi@hotmail.com</h3>
    <h3 style="color: white;">jahinzashim2005@gmail.com</h3>
    <h3 style="color: white;"><a href="https://discord.gg/2GMrAcBz">Galactic Origins Discord</a></h3>
  <form action="/" method="get">
      <a href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
        <button><b>RETURN</b></button>
    </a>    
  </form>
{% endblock %}