{% extends "style.html" %}
{% block head %}{% endblock %}

{% block body %}
  <h1><b>ASTRO GEEKS</b></h1>
  <div class="questionnaire">
  <h2>Contact Us</h2>
    <h3 style="color: white;">vedikaagrawal28012005@gmail.com</h3>
    <h3 style="color: white;">phyu.h.lwin@gmail.com</h3>
    <h3 style="color: white;">[dummy contact info3]</h3>
    <h3 style="color: white;">[dummy contact info4]</h3>
    <h3 style="color: white;"><a href="https://discord.gg/2GMrAcBz">Galactic Origins Discord</a></h3>
  <form action="/" method="get">
      <a href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
        <button>RETURN</button>
    </a>    
  </form>
{% endblock %}