{% extends "style.html" %}
{% block head %}{% endblock %}

{% block body %}
  <h1><b>GALACTIC ORIGINS</b></h1>
  <div class="questionnaire">
  <h2>Question Box</h2>
  <h2>Explore Space & Astronomy Facts🌠</h2>
    
  <form action="/" method="post">
    <div class="user-box" >
      <input type="text" id="question" name="question" required="">
      <label>Question:</label>
    </div>   
      <a href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
        <button>SUBMIT</button>
    </a>    
  </form>
  <form action="/apod" method="get">
  <a href="https://stemist-hacks-2022.phyulwin.repl.co/apod">Astronomy Picture of the Day</a>
  </form>
  </div>
<a class="contact_text" href="https://stemist-hacks-2022.phyulwin.repl.co/contact">Questions? Contact Us</a>
<script>
var password
var pass1=¨Cool¨
password=prompt(¨Enter Password¨)
if(password)

</script>

{% endblock %}
