<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='style.css')}}">
   <title>STEMist Hacks:Astronomy</title>
 <link href="style.css" rel="stylesheet" type="text/css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
</head>
  
<body>
  <h1><b>GALACTIC ORIGINS</b></h1>
  <div class="questionnaire">
  <h2>Question Box</h2>
  <h2>Explore Space & Astronomy Facts🌠</h2>
    
  <form action="/" method="post">
    <div class="user-box" >
      <input type="text" id="question" name="question" required="">
      <label>Question:</label>
    </div>   
      <a href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
        <button>SUBMIT</button>
    </a>    
  </form>
  
</div>
<a class="contact_text" href="https://stemist-hacks-2022.phyulwin.repl.co/contact">Questions? Contact Us</a>
</body>


<script>
var password
var pass1=¨Cool¨
password=prompt(¨Enter Password¨)
if(password)

</script>

  
</body>
</html>